* {
    padding: 0;
    margin: 0;
}

body {
    /*background-color: #221818;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.77;
    color: #221818;

}

#wrapper {
    width: 100%;
    height: 133px;
    position: fixed;
    background: url(../images/bg-header.jpg) repeat-x center;
    z-index: 0;

}

.container {
    max-width: 1100px;
    margin: 0 auto;

}

.wrap{
    width: 100%;
    display: flex;

    box-sizing: border-box;
    border: 1px solid red;
    justify-content: center;
}
.wrap .logo{
    display: inline-block;
    text-align: center;
}
.wrap img{
    width: 65%;
}

.wrap nav{
    position: absolute;
    right: 30px;
    top: 50px;
}





/*======ДЛЯ БУРГЕР-МЕНЮ==========*/
.menu {
    text-align: right;


}

/*.menu__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
}*/

.menu__icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #333333;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
    top: 0;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
    top: 13px;
}

.menu__icon span:nth-child(4) {
    top: 26px;
}
/*
.menu__links-item {
    display: none;
    color: #333333;
    font-size: 14px;
    line-height: 1.1;
    padding: 0 10px;
    text-decoration: none;
}*/

.menu__links-item:hover {
    text-decoration: underline;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__links {
    display: block;
}


    .menu__icon{
        display: inline-block;
        width: 45px;
        height: 35px;
        position: relative;
        cursor: pointer;
    }

    .menu__links {
        position: fixed;
        display: none;
        top: 0;
        right: 33px;
        width: 250px;
        margin-top: 100px;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;
        overflow: auto;
    }

    .menu__links-item {
        display: block;
        padding: 10px 0;
        text-align: center;
        color: #ffffff;
    }



/*========контент=========*/
#main{
    width: 100%;
    display: block;
    background: url(../images/bg-wood.jpg);
    position: relative;
    top: 133px;

}
.container_story{
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -khtml-display: flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 120px;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    text-align: center;

}
.container_story h1{
    font-size: 2.55em;
    line-height: 1.13;
    font-family:  'Courgette', cursive;
    margin-bottom: 20px;
}
article{
    display: flex;
    background: url(../images/bg-texture.png) repeat ;
    position: relative;
    padding: 50px 0;
}
.main_description{
    flex-wrap: wrap;
    display: flex;
    margin: 0 -50px;
}
.block_wrap{
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: row;
    border: 1px red solid;
    justify-content: center;
}
.block_wrap:nth-child(2n){
    flex-direction: row-reverse;
}
.block_img, .block_text{
    height: auto;
    width: calc(50% - 100px);
    margin: 50px;
    outline: 1px blue solid;
    align-self: center;
}
.block_img{
    display: flex;
    justify-content: center;

}
.block_img img{
    max-width: 100%;
}

.block_wrap span{
    color: #fd1c18;
    line-height: 1.5;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
}
.block_wrap p{
    margin-top: 10px;
}
@media only screen and (max-width: 992px) {
    .block_img, .block_text {
        width: calc(100% - 40px);
        margin: 20px;
    }
    .main_description{
        margin: 0;
    }
    .block_img img{
        width: 100%;
    }
}