* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e7e9eb;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.77;
    color: #221818;

}

#wrapper {
    width: 100%;
    height: 133px;
    position: fixed;
    background: url(../images/bg-header.jpg) repeat-x center;
    z-index: 10;

}

.container {
    max-width: 1100px;
    margin: 0 auto;

}

.wrap{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}
.wrap .logo{
    display: inline-block;
    text-align: center;
}
/*.wrap img{
    width: 65%;
}*/

.wrap nav{
    position: absolute;
    right: 30px;
    top: 50px;
}


/*======ДЛЯ БУРГЕР-МЕНЮ==========*/
.menu {
    text-align: right;

}
.menu__icon span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #685aa7;

    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
    top: 0;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
    top: 13px;
}

.menu__icon span:nth-child(4) {
    top: 26px;
}

.menu__links-item:hover {
    text-decoration: underline;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__links {
    display: block;
}


    .menu__icon{
        display: inline-block;
        width: 45px;
        height: 35px;
        position: relative;
        cursor: pointer;
    }

    .menu__links {
        position: fixed;
        display: none;
        top: 0;
        right: 33px;
        width: 250px;
        margin-top: 100px;
        background-color: #685aa7;
        z-index: 1000;
        overflow: auto;
        border-radius: 10px;
    }
    .menu__links a:hover {
        /*background-color: blue;
        opacity: 0.5;
        transition: opacity 0.5s ease;*/
        background: #E8645A;
        border-radius: 5px;
        box-shadow: 1px 3px #E2534B;
        padding: 8px 13px;
        transition: .4s;
    }
    .menu__links-item {
        display: block;
        padding: 10px 0;
        text-align: center;
        color: #ffffff;
    }



/*========контент=========*/
#main{
    width: 100%;
    display: block;
    position: relative;
    top: 133px;
    margin-bottom: 133px;
}
.story_block{
    background: url(../images/bg-wood.jpg);
    height: 340px;
}
.container_story{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 120px;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
}
.container_story h1{
    font-size: 2.55em;
    line-height: 1.13;
    font-family:  'Courgette', cursive;
    margin-bottom: 20px;
}
.article{
    display: flex;
    background: url(../images/bg-texture.png) repeat ;
    position: relative;
    padding: 50px 0;
}
.main_description{
    flex-wrap: wrap;
    display: flex;
    margin: 0 -50px;
}
.block_wrap{
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
}
.block_wrap:nth-child(2n){
    flex-direction: row-reverse;
}
.block_img, .block_text{
    height: auto;
    width: calc(50% - 100px);
    margin: 50px;
    align-self: center;
}
.block_img{
    display: flex;
    justify-content: center;

}
.block_img img{
    max-width: 100%;
}

.description_header{
    color: #fd1c18;
    line-height: 1.5;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
}
.block_text p{
    margin-bottom: 15px;
}
.see_beers, .footer_directions{
    text-transform: uppercase;
    color: #000;
    padding: 5px 8px;
    border: 2px solid #000;
    font-weight: 700;
    text-decoration: none;

}
.block_wrap p{
    margin-top: 10px;
}

section .form_block {
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.form_block .description_header{
    display: inline-block;
    text-align: center;
    padding: 50px 0 15px 0;
}
.form_block input, textarea {
    width: calc(100% - 16px);
    margin-bottom: 15px;
    border: 1px solid #9c9c9c;
    border-radius: 10px;
    font-size: 0.83em;
    height: 35px;
    font-family: 'Montserrat', sans-serif;
    padding: 0 8px;

}
textarea{
    height: 190px;
    padding-top: 10px;
    resize: none;
}

.button_field{
    width: 100%;
    display: flex;
    justify-content: center;
}
#button_submit{
    width: 180px;
    border-radius: 0;
    border: 2px solid #000;
    padding: 0;
    text-transform: uppercase;
    margin-bottom: 50px;
}
footer{
    border-top: 1px solid #65abab;
    padding: 15px 0 15px 15px;
}
.block_footer{
    width: 33%;

}
.content_footer{
    flex-wrap: wrap;
    display: flex;
}

/*.content_footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}*/
.contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.footer_directions{
    margin-top: 15px;
    border: 2px solid red;

}
.iconSocial{
    font-size: 1.4em;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.iconSocial .fa{
    color: #d9cabf;
}
.iconSocial span{
    margin-left: 15px;
}
.iconSocial span:first-child{
    margin-left: 0;
}
@media only screen and (max-width: 992px) {
    .block_img, .block_text {
        width: calc(100% - 40px);
        margin: 20px;
    }
    .main_description{
        margin: 0;
    }
    .block_img img{
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .content_footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .block_footer{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }
    .iconSocial {
        font-size: 1.2em;
    }
    .iconSocial span{
        margin-left: 15px;
    }
    footer{
        padding-left: 0;
    }
}
@media only screen and (max-width: 510px){
    section .form_block {
        width: 99%;
    }
}