* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e7e9eb;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.77;
    color: #221818;
}

#wrapper {
    width: 100%;
    height: 133px;
    position: fixed;
    background: url(../images/bg-header.jpg) repeat-x center;
    z-index: 10;

}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.wrap{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}
.wrap .logo{
    display: inline-block;
    text-align: center;
}
.wrap nav{
    position: absolute;
    right: 30px;
    top: 50px;
}


/*======ДЛЯ БУРГЕР-МЕНЮ==========*/
.menu {
    text-align: right;

}
.menu__icon span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #685aa7;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
    top: 0;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
    top: 13px;
}

.menu__icon span:nth-child(4) {
    top: 26px;
}

.menu__links-item:hover {
    text-decoration: underline;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__links {
    display: block;
    /*opacity: 1;
    transition: opacity .5s ease-out .2s;
    -moz-transition: opacity .5s ease-out .2s;
    -webkit-transition: opacity .5s ease-out 0.2s;*/
}


    .menu__icon{
        display: inline-block;
        width: 45px;
        height: 35px;
        position: relative;
        cursor: pointer;
    }

    .menu__links {
        position: fixed;
        /*opacity: 0;*/
        display: none;
        top: 100px;
        right: 33px;
        width: 250px;

        background-color: #685aa7;
        z-index: 1000;
        overflow: auto;
        border-radius: 10px;
    }
    .menu__links a:hover {
        /*background-color: blue;
        opacity: 0.5;
        transition: opacity 0.5s ease;*/
        background: #E8645A;
        border-radius: 5px;
        box-shadow: 1px 3px #E2534B;
        padding: 8px 13px;
        transition: .4s;
    }
    .menu__links-item {
        display: block;
        padding: 10px 0;
        text-align: center;
        color: #ffffff;
    }



/*========КОНТЕНТ=========*/
#main{
    width: 100%;
    display: block;
    position: relative;
    top: 133px;
    margin-bottom: 133px;
}
.story_block{
    background: url(../images/bg-wood.jpg);
    height: 340px;
    position: relative;
    display: flex;
}
.story_block .container_text{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container_story{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center; 
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    align-items: center;
    width: 60%;
}
.container_story h1{
    font-size: 2.56em;
    line-height: 1.13;
    font-family:  'Courgette', cursive;
    margin-bottom: 20px;
}
.container_story p{
    text-align: center;
}
.article{
    display: flex;
    background: url(../images/bg-texture.png) repeat ;
    position: relative;
    padding: 50px 0;
}
.main_description{
    flex-wrap: wrap;
    display: flex;
    margin: 0 -50px;
}
.block_wrap{
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
}
.block_wrap:nth-child(2n){
    flex-direction: row-reverse;
}
.block_wrap:nth-child(2n) .block_img{
    display: flex;
    justify-content: flex-end;
}
.block_wrap:nth-child(2n+1) .block_text{
    display: flex;
    align-self: center;
    flex-wrap: wrap;
}

.block_img, .block_text{
    height: auto;
    width: calc(50% - 100px);
    margin: 50px;

}
/*.block_img{
    display: flex;
}*/

/*.block_img img{
    max-width: 100%;
}*/

.description_header{
    color: #fd1c18;
    line-height: 1.5;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
}
.block_text p{
    margin-bottom: 15px;
}
.see_beers, .footer_directions{
    text-transform: uppercase;
    color: #000;
    padding: 5px 8px;
    border: 2px solid #000;
    font-weight: 700;
    text-decoration: none;

}
.block_wrap p{
    margin-top: 10px;
}

section .form_block {
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.form_block .description_header{
    display: inline-block;
    text-align: center;
    padding: 50px 0 15px 0;
}
.form_block input, textarea {
    width: calc(100% - 16px);
    margin-bottom: 15px;
    border: 1px solid #9c9c9c;
    border-radius: 10px;
    font-size: 0.83em;
    height: 35px;
    font-family: 'Montserrat', sans-serif;
    padding: 0 8px;

}
textarea{
    height: 190px;
    padding-top: 10px;
    resize: none;
}

.button_field{
    width: 100%;
    display: flex;
    justify-content: center;
}
#button_submit{
    width: 180px;
    border-radius: 0;
    border: 2px solid #000;
    padding: 0;
    text-transform: uppercase;
    margin-bottom: 50px;
}
footer{
    border-top: 1px solid #65abab;
    padding: 15px 0 15px 15px;
}
.block_footer{
    width: 33%;

}
.content_footer{
    flex-wrap: wrap;
    display: flex;
}

.contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.footerContact{
    margin-bottom: 15px;
}
.footer_directions{
    margin-top: 15px;
    border: 2px solid red;
    padding: 1px 28px;
}
.iconSocial{
    font-size: 1.4em;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.iconSocial .fa{
    color: #d9cabf;
}
.iconSocial span{
    margin-left: 15px;
}
.iconSocial span:first-child{
    margin-left: 0;
}
/*===============слайдер====================*/
.sl {
    width: 423px;
    height: 423px;
}
.sl .slick-dots {
    position: absolute;
    bottom: 60px;
}

.sl .slick-dots li {
    margin: 0 10px;
}
.sl .slick-dots li button::before {
    content: '';
    background-color: #000;
    opacity: 1;
    border-radius: 50%;
}

.sl .slick-dots li.slick-active button,
.sl .slick-dots button:hover {
    background: #E8645A;
    border-radius: 50%;

}

.sl .slick-dots li.slick-active button::before,
.sl .slick-dots li.slick-active button:hover:before {
    background: #E8645A;
}
.sl #prev{
    position: absolute;
    top: 44px;
    right: 50px;
    background: transparent;
    border: 0;
    color: black;
/*
    right: 0;
    top: 41%;
*/
    z-index: 5;
    font-size: 36px;
}
.sl #next{
    position: absolute;
    top: 44px;
    left: 50px;
    background: transparent;
    border: 0;
    color: black;
    font-size: 36px;
    z-index: 5;
}
.sl #next .fa-angle-double-left{
    position: absolute;
    top: 24%;
    left: 15%;

}
.sl #prev .fa-angle-double-right{
    position: absolute;
    top: 24%;
    right: 15%;
}

@media only screen and (max-width: 992px) {
    .container_story{
        padding: 30px 10px;
        line-height: 1.6;
    }
    .block_img, .block_text {
        width: calc(100% - 20px);
        margin: 10px;
    }
    .main_description{
        margin: 0;
    }
    .block_img img{
        width: 100%;
    }
    .block_wrap {
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    .container_story{
        padding: 10px;
        font-size: 0.8em;
    }
    .content_footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .block_footer{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }
    .iconSocial {
        font-size: 1.2em;
    }
    .iconSocial span{
        margin-left: 15px;
    }
    footer{
        padding-left: 0;
    }
    .container_story {
        font-weight: 700;
        width: 80%;
    }
}
@media only screen and (max-width: 510px) {
    #main{
        top: 100px;
    }
    section .form_block {
        width: 99%;
    }


    .block_wrap{
        width: 100%;
    }

    .block_wrap img{
        float: none;
        margin: 0 auto;
        width: 80%;
    }

    .menu__icon span {
        height: 2px;
        width: 82%;

    }
    .wrap nav {
        top: 36%;
    }

    .logo img {
        width: 80%;
    }
    .block_footer.logo img{
        width: 31%;
    }

    #wrapper {
        height: 100px;
    }
    .menu__links {
        top: 0;
        right: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    .menu.menu_state_open .menu__links {
        height: 15vh;
      }
    .menu__links {
        top: 100px;
    }
    .block_img {

        margin: 0;
    }

    #next, #prev{
        display: none;
    }


}
@media only screen and (max-width: 430px) {
    .article {
        display: block;
        width: 100%;
        padding: 0;
    }

    .main_description.block_wrap, .main_description.block_wrap .block_img {
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .block_wrap{
        overflow: hidden;
    }
    .block_wrap.block_text:first-child {
        padding-right: 20px;
    }

    .block_wrap:nth-child(2n+1) .block_text {
        align-self: flex-start;
    }

    .block_wrap:first-child img {
        width: 75%;
        margin-top: 10px;
    }
    .container_story h1 {

        margin-bottom: 10px;
    }
    .container_story {
        font-size: 0.78em;        
    }
    #button_submit{
        margin-bottom: -5px;
    }
}